@import '~/assets/variables.scss';

.btn {
  width: 160px !important;
  height: 48px !important;
  border-radius: 0 !important;
  letter-spacing: 1px !important;
  font-size: 13px !important;

  &--orange {
    color: white !important;
    background-color: $orange !important;
    transition: all 0.2s ease;

    &:hover {
      color: white !important;
      background-color: $orange--light !important;
    }
  }

  &--black {
    color: white !important;
    background-color: $black !important;
  }

  &--border {
    border: 1px solid $black;
    color: $black !important;
    background-color: transparent !important;
    transition: all 0.2s ease;

    &:hover {
      color: white !important;
      background-color: $black !important;
    }
  }

  &--text {
    width: inherit !important;
    height: 30px !important;
    background-color: transparent !important;
    box-shadow: unset !important;
    font-weight: bold;
    opacity: 0.7;
    transition: all 0.2s ease;

    &:hover {
      color: $orange !important;
    }
  }

  &--goback {
    font-size: 15px;
    line-height: 1.67;
    color: #000000;
    height: 30px !important;
    width: inherit !important;
    text-transform: capitalize;
  }

  &--signup {
    font-size: 15px;
    font-weight: bold;
    height: 25px !important;
    width: 70px !important;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    background-color: transparent !important;
    color: white !important;

    &:hover {
      background-color: transparent !important;
      border: 1px solid $orange;
    }
  }

  &--login {
    font-size: 15px;
    font-weight: bold;
    height: 25px !important;
    width: 70px !important;
    transition: all 0.2s ease;
    background-color: transparent !important;
    border: 1px solid $orange;
    color: white !important;

    &:hover {
      background-color: $orange !important;
      border: 1px solid transparent;
      color: white !important;
    }
  }

  &--account {
    width: 78px !important;
    height: 25px !important;
    font-weight: bold;
    transition: all 0.2s ease;
    font-size: 11px !important;

    &:hover {
      color: $orange !important;
    }
  }
}
