.subtitle {
  opacity: 0.5;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 10px;
  text-transform: uppercase;

  &--orange {
    color: $orange;
    opacity: 1;
  }

  &--white {
    color: white;
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--bold {
    font-weight: bold;
  }

  &--white {
    color: white;
  }

  &--gray {
    color: #888888;
  }

  &--orange {
    color: $orange;
  }

  &--half-opacity {
    opacity: 0.5;
  }

  &--underline {
    text-decoration: underline;
  }

  &--sm {
    font-size: 13px;
  }

  &--error {
    font-size: 10px;
    color: rgb(255, 0, 0);
  }
}
