.subtitle {
  opacity: 0.5;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 10px;
  text-transform: uppercase;

  &--orange {
    color: $orange;
    opacity: 1;
  }

  &--white {
    color: white;
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--bold {
    font-weight: bold;
  }

  &--half-opacity {
    opacity: 0.5;
  }
}
