.checkout {
  width: 100%;

  &__header {
    h1 {
      font-size: 28px;
      font-weight: bold;
    }
  }

  &__form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    // margin-bottom: 7rem;
    &--billing {
      p {
        font-size: 13px;
        line-height: 1.92;
        letter-spacing: 0.93px;
      }
    }

    &--shipping {
      margin-top: 2.5rem;
    }

    .v-text-field {
      border-radius: 8px;

      &--outlined fieldset {
        border-color: #cfcfcf !important;
      }
    }

    .primary--text {
      color: $orange !important;
      caret-color: $orange !important;
    }

    label {
      font-size: 12px;
      letter-spacing: -0.21px;
    }
  }

  .cart-modal__down {
    background-color: unset;
    padding: unset;
  }

  &__cant-proceed {
    text-align: center;
    padding: 1rem;
  }
}
