.category__navigation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  place-items: center;
  gap: 3rem;
  width: 100%;

  @include media('>=md') {
    padding-bottom: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

  @include media('>=lg') {
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  .img {
    position: absolute;
    width: 130px;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .speakers {
    width: 140px;
  }

  .earphones {
    width: 150px;
  }

  .card {
    @include media('>=md') {
      width: 223px;
      height: 165px;
    }

    @include media('>=lg') {
      width: 335px;
      height: 204px;
    }

    &__container {
      padding: 1rem;
      margin: 1rem;
    }
    &__title {
      @include Title(null, 15px, 1.07px);
      margin-bottom: 0.5rem;
    }

    &__wrapper {
      height: 133px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      text-align: center;
      flex-direction: column;
    }
  }
}
