.category__navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 7.5rem;

  .img {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  .headphones {
    width: 130px;
  }

  .speakers {
    width: 140px;
  }

  .earphones {
    width: 150px;
  }

  .card {
    &__container {
      margin: 1rem 0;
      padding: 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      text-align: center;
      flex-direction: column;
    }
    &__title {
      @include Title(null, 15px, 1.07px);
      margin-bottom: 0.5rem;
    }
  }

  @include media('>=md') {
    margin-top: 3rem;
    margin-bottom: 6rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;

    .img {
      top: -3.5rem;
    }

    .headphones {
      width: 160px;
    }

    .speakers {
      width: 175px;
    }

    .earphones {
      width: 190px;
    }

    .card {
      width: 223px;
      height: 165px;

      &__container {
        margin: 0;
      }
    }
  }

  @include media('>=lg') {
    max-width: $lg-width;
    width: 100%;
    margin-bottom: 10rem;
    padding: 0;

    .headphones {
      width: 200px;
    }

    .speakers {
      width: 210px;
    }

    .earphones {
      width: 220px;
    }

    .card {
      width: 350px;
      height: 204px;

      &__title {
        font-size: 18px !important;
      }
    }
  }
}
