.footer {
  background-color: $black;
  min-height: 654px;
  color: $bg;
  text-align: center;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  &__logo {
    margin-top: 48px;
    cursor: pointer;
  }

  &__menu {
    list-style-type: none;
    padding: 0 !important;

    &--item {
      margin: 1rem 0;
      text-transform: uppercase;
      line-height: 1.92;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 13px;
      transition: color 0.2s ease;
      cursor: pointer;
      &:hover {
        color: $orange;
      }
    }
  }

  &__about {
    p {
      line-height: 1.67;
      font-size: 15px;
      opacity: 0.5;
    }
    padding: 0 1.5rem;
  }

  &__copyright {
    opacity: 0.5;
    font-size: 15px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }

  &__social {
    cursor: pointer;
    svg {
      margin: 0 0.5rem;

      path {
        transition: all 0.2s ease !important;
        &:hover {
          fill: $orange;
        }
      }
    }
    justify-items: center;
    align-self: center;
    gap: 1rem;
  }

  @include media('>=md') {
    min-height: 400px;
    padding: 3rem;
    text-align: left;

    &__container {
      padding: 0 1.5rem;
      margin: auto;
      align-items: flex-start;
    }

    &__logo {
      margin-top: 0;
      margin-bottom: 2rem;
      width: auto;
    }

    &__header {
      display: flex;
      flex-direction: column;
      width: 100%;

      ul.footer__menu {
        display: flex;
        justify-content: space-between;
        width: calc(50% - 1rem);
        gap: 1rem;

        li {
          margin: 0% !important;
        }

        a {
          height: auto;
        }
      }
    }

    &__bottom {
      width: 100%;
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }

    &__about {
      width: 100%;
      max-width: 689px;
      padding: 0;
    }
  }

  @include media('>=lg') {
    min-height: calc(365px - 3rem);
    text-align: left;

    &__container {
      padding: 0 1.5rem;
      max-width: 1110px;
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      ul.footer__menu {
        display: flex;
        align-items: center;
        gap: 2.125rem;

        &--item {
          margin: 0 !important;
        }
      }
    }

    &__about {
      text-align: left;
      width: 100%;
      max-width: 540px;
    }

    &__information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &__social {
      align-self: flex-end;
    }
  }
}
