.product {
  &__page {
    padding: 0 1.5rem;
  }
  &__image {
    img {
      width: 327px;
      border-radius: 8px;
    }
  }

  &__may-like {
    &--image {
      width: 327px;
      display: flex;
      margin: auto;
      background-color: $gray !important;
      border-radius: 8px;
      img {
        width: 100%;
        height: 120px;
        object-fit: contain;
      }
    }
  }

  &__header {
    margin: 2rem 0 0;

    &__title {
      h1 {
        margin: 1.5rem 0;
        font-size: 28px;
      }
    }
  }

  &__description {
    @include Paragraph(black, 0.5, 15px);
  }

  &__button {
    margin: 1.5rem 0;

    &__container {
      display: flex;
      gap: 1rem;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.29px;
    padding: 1.5rem 0 0;
  }

  &__features {
    margin: 5.5rem 0;

    h1 {
      margin: 1.5rem 0;
    }

    p {
      @include Paragraph(black, 0.5, 15px);
    }
  }

  &__inthebox {
    margin-bottom: 4rem;

    h1 {
      margin: 1.5rem 0;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    li {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.67;
      text-align: left;
      color: #d87d4a;
      &:nth-child(2) {
        @include Paragraph(black, 0.5, 15px);
        font-weight: normal;
      }
    }
  }

  &__images {
    margin-bottom: 7.5rem;
    &__wrapper {
      width: 100%;

      &--left {
        img {
          border-radius: 8px;
          width: 100%;
          height: 174px;
          object-fit: cover;
          margin-bottom: 20px;
        }
      }

      &--right {
        img {
          border-radius: 8px;
          width: 100%;
          height: 368px;
          object-fit: cover;
        }
      }
    }
  }

  &__mayalsolike--title {
    margin: 1.5rem 0 40px !important;
  }

  // Media Queries

  @include media('>=md') {
    &__images {
      &__wrapper {
        margin-top: 4rem;
        display: flex;
        gap: 18px;

        &--left {
          width: 277px;
          height: 174px;
          img {
            display: flex;
            width: 277px;
            height: 174px;
          }
        }

        &--right {
          width: 100%;
          img {
            width: 100%;
            height: 368px;
          }
        }
      }
    }

    &__wrapper {
      display: flex;
      gap: 3rem;
    }

    &__may-like {
      &--image {
        width: unset;
        background-color: unset;
        img {
          width: 223px;
          height: 318px;
          object-fit: cover;
        }
      }
    }

    .image--wrapper {
      background-color: $gray;
      width: 689px;
      border-radius: 8px;
      height: 352px;
    }

    &__image {
      img {
        width: 281px;
        height: 100%;
        // height: 400px;
        object-fit: cover;
      }
      img + img {
        margin: 0;
      }
    }

    &__page {
      margin: auto;
      width: 768px;
      max-width: 768px;

      &__maylike {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__price {
      padding-top: 32px;
    }

    &__button {
      margin-top: 31px;
    }

    &__description {
      width: 100%;
      max-width: 400px;
    }

    &__content--wrapper {
      margin-top: 5.5rem;

      h1 {
        font-size: 32px;
      }
    }

    &__features {
      margin-top: 0;
      margin-bottom: 5.5rem;
    }

    &__inthebox {
      margin-bottom: 2.5rem;
      display: flex;
      align-items: center;
      width: 500px;
      justify-content: space-between;
      h1 {
        align-self: flex-start;
        white-space: nowrap;
        margin: 0;
      }
    }

    &__mayalsolike--title {
      font-size: 32px;
    }
  }

  @include media('>=lg') {
    &__images {
      &__wrapper {
        height: 592px;
        gap: 30px;
        &--left {
          width: unset;
          height: unset;
          img {
            margin-bottom: 32px;
            width: 445px;
            height: 280px;
          }
        }

        &--right {
          width: unset;
          height: unset;
          img {
            height: 592px;
          }
        }
      }
    }

    &__wrapper {
      height: 560px;
      gap: 7.8rem;
    }

    &__may-like {
      img {
        width: 350px;
        height: 318px;
        object-fit: cover;
      }
    }

    .image--wrapper {
      width: unset;
      background-color: unset;
      height: unset;
      border-radius: unset;
    }

    &__image {
      img {
        width: 540px;
        height: 560px;
      }
    }

    &__content--wrapper {
      display: flex;
      gap: 3rem;
    }

    &__inthebox {
      display: block;

      h1 {
        margin: 1.5rem 0;
      }
    }

    &__price {
      padding-top: 32px;
    }

    &__button {
      margin-top: 3rem;
    }

    &__description {
      max-width: 445px;
    }

    &__page {
      width: 100%;
      max-width: $lg-width;
    }

    &__image {
      img {
        height: 560px;
        width: 540px;
      }
    }
    &__header {
      &__title {
        h1 {
          width: 20.5vw;
          font-size: 2.5rem;
        }
      }
    }

    &__features {
      width: 70%;
    }
  }
}
