.product {
  &__wrapper {
    @include media('>=md') {
      display: flex;
      gap: 3rem;
    }

    @include media('>=lg') {
      gap: 7.8rem;
    }
  }

  &__page {
    @include media('>=md') {
      padding: 0 125px;
      margin: auto;

      &__maylike {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.8rem;
      }
    }
  }

  &__image {
    .v-image {
      width: 327px;
      max-width: 100%;
      border-radius: 8px;

      @include media('>=md') {
        height: 400px;
        width: 470px;
      }

      @include media('>=lg') {
        height: 560px;
        width: 540px;
      }
    }
  }

  &__content--wrapper {
    @include media('>=md') {
      margin-top: 5.5rem;
      display: flex;
      gap: 3rem;
      h1 {
        font-size: 32px;
      }
    }
  }

  h1 {
    margin: 1.5rem 0;
  }

  &__header {
    margin: 2rem 0 0;

    &__title {
      h1 {
        font-size: 28px;
        @include media('>=lg') {
          font-size: 3rem;
        }
      }
    }
  }
  &__description {
    @include Paragraph(black, 0.5, 15px);
  }

  &__button {
    margin: 1.5rem 0;

    &__container {
      display: flex;
      gap: 1rem;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.29px;
    padding: 1.5rem 0 0;
  }

  &__features {
    margin: 5.5rem 0;

    @include media('>=md') {
      width: 70%;
      margin-top: 0;
      margin-bottom: 5.5rem;
    }

    p {
      @include Paragraph(black, 0.5, 15px);
    }
  }

  &__inthebox {
    margin-bottom: 4rem;

    @include media('>=md') {
      margin: 0;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    li {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.67;
      text-align: left;
      color: #d87d4a;
      &:nth-child(2) {
        @include Paragraph(black, 0.5, 15px);
        font-weight: normal;
      }
    }
  }

  &__images {
    margin-bottom: 7.5rem;
    @include media('>=md') {
      display: flex;
      align-items: center;
    }

    .v-image {
      margin: 1.4rem;
      border-radius: 8px;
      height: 174px;
      width: 327px;

      @include media('>=md') {
        min-width: 445px;
        min-height: 280px;
      }
    }

    &__image_aside {
      padding: 0 1.5rem;
      .v-image {
        width: 327px;
        height: 368px;
        margin: 0;
      }
      @include media('>=md') {
        .v-image {
          width: 635px;
          height: 592px;
          margin: 0;
        }
      }
    }
  }

  &__mayalsolike--title {
    margin: 1.5rem 0 40px !important;
    @include media('>=md') {
      font-size: 32px;
    }
  }
}
