.thankyou {
  min-height: 600px;
  border-radius: 8px;
  background-color: white !important;
  padding: 2rem;

  &__header {
    &--title {
      margin: 1rem 0;
      h2 {
        line-height: 1.17;
        letter-spacing: 0.86px;
      }
    }
    p {
      font-size: 15px;
      line-height: 1.67;
    }
  }
  &__showmore {
    margin-top: auto;
  }

  &__cart {
    margin-top: 1.5rem;
    border-radius: 8px 8px 0 0;
    background-color: $gray;
    width: 100%;

    &--fhalf {
      height: 100%;
      padding: 1.5rem 1.5rem 1rem;
      max-height: 140px;
      display: flex;
      flex-direction: column;

      hr {
        opacity: 0.2;
      }
    }

    &--total {
      min-height: 92px;
      background-color: black;
      border-radius: 0 0 8px 8px;
      padding: 1.5rem;
    }

    .cart-modal {
      &__list-item {
        margin: 0;
        &__wrapper {
          img {
            width: 50px;
          }
        }
      }
    }
  }

  @include media('>=lg') {
    width: 540px;
    min-height: 713px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    &__header {
      svg {
        margin-bottom: 32px;
      }
      &--title {
        margin: 0;
        h2 {
          font-size: 32px;

          &:nth-child(2) {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
    &__cart {
      display: flex;
      max-height: 280px;
      border-radius: 8px;

      &--fhalf {
        width: 60%;
        padding-right: 2.4rem;
        height: 100%;
        max-height: 100%;
        min-height: 100%;
      }

      &--total {
        display: flex;
        flex-direction: column;
        border-radius: 0px 8px 8px 0;
        width: 40%;

        &--text {
          margin-top: auto;
        }
      }
    }
    .v-btn {
      margin-top: auto !important;
    }
  }
}
