// Vuetify Overrides

.v-application {
  background-color: $bg !important;
  font-family: 'Manrope', sans-serif !important;

  @include media('<=sm') {
    &--wrap {
      max-width: 100vw !important;
    }
  }

  & a {
    color: unset !important;
    text-decoration: none;
    background-color: unset;
    line-height: unset;
    height: 25px;
  }
}

.theme--light.v-divider {
  border-color: unset;
}

.v-application p {
  margin-bottom: 0 !important;
}

.v-bottom-sheet.v-dialog {
  background-color: white;
  position: absolute;
  top: 80px;
  overflow-y: scroll;
}

.v-overlay {
  z-index: 250;
}

.v-snack {
  top: -25px;
  &__content {
    text-align: center !important;
  }
}

.v-input {
  .v-label {
    color: black !important;
  }
}

.v-expansion-panels {
  box-shadow: unset !important;
  border: 1px solid rgba(51, 51, 51, 0.178);
  max-width: 1400px !important;
  border-radius: 8px;
  z-index: 0;

  .v-expansion-panel {
    &-header {
      transition: background-color 0.5s ease;
      &--active {
        min-height: 0;
        background-color: black;
        color: white;

        .mdi-chevron-down {
          color: white !important;
        }
      }
    }
    &-content__wrap {
      padding: unset !important;
    }
  }
}
