// Vuetify Overrides

.v-application {
  background-color: $bg !important;
  font-family: 'Manrope', sans-serif !important;

  @include media('<=sm') {
    &--wrap {
      max-width: 100vw !important;
    }
  }

  & a {
    color: unset !important;
    text-decoration: none;
    background-color: unset;
    line-height: unset;
    height: 25px;
  }
}

.theme--light.v-divider {
  border-color: unset;
}

.container {
  width: 100%;
  padding: 1.5rem;

  @include media('>=md') {
    width: 768px;
    max-width: 768px;
    margin: auto;
  }
  @include media('>=lg') {
    width: 1440px;
    max-width: 1440px;
    margin: auto;
  }
}

.v-application p {
  margin-bottom: 0 !important;
}

.v-bottom-sheet.v-dialog {
  background-color: white;
  position: absolute;
  top: 80px;
  overflow-y: scroll;
}

.v-overlay {
  z-index: 1 !important;
}

.v-menu {
  &__content {
    border-radius: 8px !important;
    box-shadow: unset !important;
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 999 !important;

    @include media('>=lg') {
      left: 66% !important;
      transform: translateX(-66%);
    }
  }
}

.v-snack {
  top: -25px;
  &__content {
    text-align: center !important;
  }
}

.v-input {
  &--checkbox {
    padding: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #cfcfcf;

    .v-label {
      color: black !important;
    }
  }
}
