@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
@import './mixins.scss';
@import './import.scss';
@import './vuetify-overrides.scss';
@import './UI/Button.scss';
@import './UI/Text.scss';

.page__container {
  min-height: 100vh;
}

.no-content {
  color: $orange;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}

.slide-item-container {
  width: 500px;
  overflow: hidden;
}

.title {
  &--uppercase {
    text-transform: uppercase;
  }
}

.rich {
  &__p + &__p {
    margin-top: 1.5rem;
  }
}

.modal-open {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100vh;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
